.rodape-texto {
    padding: 1.5em 0em 1.5em 1.5em;
}

hr {
    width: 100%;
    margin: 0;
    color: #858585;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width:1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
        background-color: #F9F9F9;
    }

    .lista-rodape-item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodape-link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.6em;

    }

    .lista-rodape {
        display: block;
        padding-top: 24px;
    }

    .lista-rodape-titulo {
        font-size: 14px;
        color: var(--cinza-claro);
    }

    .rodape-texto {
        font-size: 24px;
        padding-left: 0;
    }

    .lista-rodape-link:hover {
        color: var(--laranja);
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }

    .rodape-texto {
        padding-left: 5em;
    }
}