.topicos-titulo {
    text-align: center;
    text-transform: uppercase;
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
}

.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em;
}

.topicos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos-item {
    margin: 2em 0.5em;
}

.topicos-link {
    color: var(--branco);
    padding: 1.2em 1.5em;
    background-color: var(--laranja);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

.container-topicos {
    background-color: var(--branco);
    padding-top: 1.5em;
}